head
    title User Manager App
    link(type="text/css", rel="stylesheet", href="/stylesheets/styles.css")
body
    if search.status
        h1= `Search results for ${search.param} '${search.query}'`
    else
        h1 Welcome To The User Management
    div(id="panel")
        if !search.status
            div
                form(action="/updateParam", method="post")
                    h3 Search/Sort parameter:
                    select(onchange="this.form.submit()", id="paramSelect", name="searchParam")
                        each val in ["first_name", "last_name", "email"]
                            if val == search.param
                                option(value=val, selected=true)= val
                            else
                                option(value=val)= val
                form(action="/searchUsers", method="post")
                    input(type="text", name="search", placeholder="Search Users")
                    button(type="submit") Search
                div(id="sort")
                    form(action="/sortUsersAZ", method="post")
                        button(type="submit") Sort A-Z
                    form(action="/sortUsersZA", method="post")
                        button(type="submit") Sort Z-A
            form(action="/addUser", method="post", class="addUser")
                input(type="text", name="first_name", placeholder="First Name", required)
                input(type="text", name="last_name", placeholder="Last Name", required)
                input(type="text", name="email", placeholder="Email", required)
                input(type="text", name="age", placeholder="Age", required)
                button(type="submit") Add User
        else
            form(action="/", method="get")
                button(type="submit") Back
        
    div(id="userList")
        each val in users
            div(class="user")
                form(action="/editUser$"+val.id, method="post")
                    input(type="text", name="first_name", placeholder="First Name", value=val.first_name)
                    input(type="text", name="last_name", placeholder="Last Name", value=val.last_name)
                    input(type="text", name="email", placeholder="Email", value=val.email)
                    input(type="text", name="age", placeholder="Age", value=val.age)
                    button(type="submit") Save Changes
                form(action="/deleteUser$"+val.id, method="post")
                    button(type="submit") Remove User